@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: rgba(39, 43, 47,1);
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: 30px;
  color:#f5f6f7;
  position: relative;
  height: 100vh;
}
#bgd-img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  object-fit: cover;
  transition: 1.5s linear;
}
/*Main container:  */
.container{
  position:absolute;
  top:50%;
  left: 50%;
  height: auto;
  max-width: 550px;
  width:100%;
  border-radius: 6px;
  padding: 50px 25px 35px 25px;
  background-color: rgba(39, 43, 47,0.95);
  transform: translate(-50%,-50%);
}
/*Information button and popup:*/
.info-icon{
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgba(255, 255, 255,0.65);
  font-size: 25px;
  cursor: pointer;
}
.info-icon:hover{
  color: rgba(255, 255, 255,1);
}
.info-popup{
  visibility: hidden;
  position: absolute;
  top:25px;
  left:24px;
  max-width:501px;
  width:100%;
  height: auto;
  background-color: #f5f6f7;
  font-size: 18px;
  border-radius: 6px;
  color: rgba(39, 43, 47,1);
  padding: 45px 25px 20px 25px;
}
.close-btn{
  display:none;
  position: absolute;
  top: 35px;
  right: 45px;
  font-size: 13px;
  color: rgba(39, 43, 47,1);
  text-decoration: underline;
  z-index: 2;
  cursor: pointer;
}
.close-btn:hover{
  font-weight: bold;
}
/*Quote section:*/
.quote-icon{
  font-size: 20px;
  vertical-align: text-top;
}
.container #quote-author{
  text-align: right;
  font-size: 23px;
}
.inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Twitter Icon: */
a{
  font-size: 45px;
  padding-right: 20px;
  color: rgba(255, 255, 255,0.65);
  cursor: pointer;
}
a:hover{
  color: rgba(255, 255, 255,1);
}
/*Buttons: */
.btn-container{
  display: flex;
  justify-content: space-between;
}
.btn{
  height: 45px;
  width: 40%;
  font-size: 20px;
  font-family: inherit;
  border-radius: 6px;
  border-color:rgba(245, 246, 247, 0.2);
  background-color: rgba(39, 43, 47,0);
  color: rgba(245, 246, 247, 0.9);
  cursor: pointer;
  margin-top: 40px;
}
.btn:hover{
  background-color: rgba(65, 76, 90, 0.85);
}
.btn:focus{
  outline: 0;
}
/*Media Queries*/
@media screen and (max-width: 576px) {
  body{
    line-height: 1.5;
    font-size: 23px;
  }
  /*Main container:  */
  .container{
    max-width: 390px;
  }
  /*Information button and popup:*/
  .info-popup{
    max-width:342px;
    font-size: 14px;
  }
  .close-btn{
    font-size: 14px;
  }
  /*Quote section:*/
  .quote-icon,.container #quote-author{
    font-size: 20px;
  }
  a{
    font-size: 35px;
  }
  .btn{
    height: 40px;
    font-size: 16px;
    margin-top: 35px;
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  body{
    line-height: 1.5;
    font-size: 17px;
  }
  /*Main container:  */
  .container{
    max-width: 320px;
  }
  /*Information button and popup:*/
  .info-icon{
    font-size: 22px;
  }
  .info-popup{
    max-width:283px;
    font-size: 14px;
    top:19px;
    left:19px;
  }
  .quote-icon,.container #quote-author{
    font-size: 15px;
  }
  .btn{
    height: 35px;
    font-size: 11px;
    margin-top: 30px;
  }
}
