@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: 30px;
  /*background-color:rgba(39, 43, 47,1);*/
}
.background{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f6f7;
}
.img-container{
  position: relative;
  min-width: 100vw;
  width:100%;
  height:100vh;

  background-color: pink;
}
.bgd-img{
  position: absolute;
  height:auto;
}
/*Main container*/
.container{
  position:absolute;
  height: auto;
  max-width: 550px;
  width:100%;
  border-radius: 6px;
  padding: 50px 25px 35px 25px;
  background-color: rgba(39, 43, 47,0.75);
}
.info-icon{
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgba(255, 255, 255,0.65);
  font-size: 25px;
  cursor: pointer;
}
.info-icon:hover{
  color: rgba(255, 255, 255,1);
}
.info-popup{
  visibility: hidden;
  position: absolute;
  top:25px;
  left:24px;
  max-width:501px;
  width:100%;
  height: auto;
  background-color: rgba(39, 43, 47,1);
  font-size: 18px;
  border-radius: 6px;
  padding: 45px 25px 20px 25px;
}
.close-btn{
  display:none;
  position: absolute;
  top: 35px;
  right: 45px;
  font-size: 13px;
  text-decoration: underline;
  z-index: 2;
  cursor: pointer;
}
.quote-icon{
  font-size: 20px;
  vertical-align: text-top;
}
.container #quote-author{
  text-align: right;
  font-size: 23px;
}
.inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Social Media  Share Icons*/
a{
  font-size: 45px;
  padding-right: 20px;
  color: rgba(255, 255, 255,0.65);
  cursor: pointer;
}
a:hover{
  color: rgba(255, 255, 255,1);
}
/*Submit Button*/
.btn{
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  border-radius: 6px;
  border-color:#f5f6f7;
  background-color: rgba(39, 43, 47,0);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover{
  background-color: rgba(39, 43, 47,0.85);
}
.btn:focus{
  outline: 0;
}
